h2 {
    text-align: center;
}

#Container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    margin: 75px;
}

#FormEdit {
    width: 100%
}

.TitleEdit {
    margin-bottom: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#FomularioCatProd {
    padding: 20px 0px 0px 30px; /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family: verdana,arial;
    font-size: 9pt;
    display: block;
    text-align: center;
}

#IFormCatProd1 {
    width: 500px; /* anchura de campos de formulario */
    font-size: 13pt; /* tamaño de la letra*/
    margin-right: auto;
    text-align: center;
}

#IFormCatProd2 {
    text-align: center;
    width: 500px; /* anchura de campos de formulario */
    font-size: 13pt; /* tamaño de la letra*/
    margin-top: 30px;
}

#IFormCatProd3 {
    text-align: center;
    width: 500px; /* anchura de campos de formulario */
    font-size: 13pt; /* tamaño de la letra*/
    margin-top: 30px;
}

#BtnGuardar {
    margin-top: 30px;
}

#iconouser {
    width: 120px;
    height: 120px;
    margin-left: 50px;
}