body {
    margin: 0;
    text-align: center;
}

h2 {
    position: relative;
    top: 80px;
    right: 90px;
    text-align: center;
    margin-bottom: 100px;
}

#Container {
    position: relative;
    top: 100px;
    right: 20px;
    margin: auto;
    max-width: 1280px;
    width: 90%;
    margin: 75px;
}

.center {
    margin: auto;
    position: relative;
    top: 20px;
    right: 120px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#TableRol {
    position: relative;
    left: 900px;
    table-layout: auto;
    background-color: lightblue;
    width: 1280px;
    border-collapse: collapse;
    border: 3px solid black;
}

#Roldesc, #RolTitle {
    text-align: justify;
}


#BtnCrear {
    position: relative;
    top: 20px;
    left: 700px;
    text-align: center;
}

#Contenedit {
    margin-right: 10px;
}

#FormBusq {
    margin-left: 45px;
}

#titulopdf {
    margin-left: 150px;
    color: darkred;
}

#tituloexcel {
    margin-left: 150px;
    color: darkgreen;
}

#tituloword {
    margin-left: 150px;
    color: darkblue;
}