#FormBusq {
    margin-left: 45px;
}

#titulopdf {
    margin-left: 8px;
    color: darkred;
}

#tituloexcel {
    margin-left: 8px;
    color: darkgreen;
}

#tituloword {
    margin-left: 8px;
    color: darkblue;
}

