
h2 {
    position: relative;
    top: 80px;
    right: 30px;
    text-align: center;
 
}

#Container {
    position: relative;
    top: 100px;
    right: 20px;
    margin: auto;
    max-width: 1280px;
    width: 90%;
    margin: 75px;
}

.center {
    margin: auto;
    position: relative;
    top: 20px;
    right: 120px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#TblBonos {
    max-width: 1280px;
    width: 90%;
    margin: 35px;
    table-layout: fixed;
    background-color: lightblue;
    width: 1280px;
    border-collapse: collapse;
    border: 3px solid black;
}



#containertitulos
{
    margin-top:100px;

}
#FormBusq {
    margin-left: 45px;
}