h2 {
    text-align: center;
}

#FormulGeneral {
   
}
h6 {
    text-align: center;

}
p{

margin-left:600px;
text-align:center;
margin-right:300px;
}

#modelado{
    margin-right:380px;
}

#descp{

    margin-right:380px;
}

#menupeque{

text-align:left;

}