

h2 {
    position: relative;
    top: 80px;
    right: 30px;
    text-align: center;
    margin-bottom: 100px;
}

#Container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    margin: 75px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#TablaMoneda {
    table-layout: fixed;
    background-color: lightblue;
    width: 1280px;
    border-collapse: collapse;
    border: 3px solid black;
}

#BtnCrear {
   
}

#lblMoneda1, #lblMoneda2, #lblMoneda3, #ModelMoneda1, #ModelMoneda2, #ModelMoneda3
{
    text-align: justify;
}


#FormBusq {
    margin-left: 45px;
}

#titulopdf {
    margin-left: 150px;
    color: darkred;
}

#tituloexcel {
    margin-left: 150px;
    color: darkgreen;
}

#tituloword {
    margin-left: 150px;
    color: darkblue;
}


