@model IEnumerable<SolucionKermesseGrupo2.Models.Opcion>

@{
    ViewBag.Title = "VerReporte";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<h2>VerReporte</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.opcionDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.opcionDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
    </tr>
}

</table>
