@model IEnumerable<SolucionKermesseGrupo2.Models.CategoriaGasto>

@{
    ViewBag.Title = "VerReporte";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>VerReporte</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>

        </tr>
    }

</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />